torch==2.8.0+cu128
torchvision==0.22.0+cu128
torchaudio==2.6.0+cu128
--extra-index-url https://download.pytorch.org/whl/cu128

gdown==5.2.0
notebook==7.3.2
pillow==11.1.0
opencv-python==4.11.0.86
matplotlib==3.10.1
scikit-learn==1.6.1
ultralytics==8.3.138